fastapi~=0.115.0
numpy~=2.0.2
torch~=2.4.1
uvicorn~=0.31.0
python-multipart~=0.0.12
pydantic~=2.8.2
librosa~=0.10.2.post1
requests~=2.32.3
gdown~=5.2.0
tokenizers~=0.20.1
pandas~=2.2.3
transformers==4.46.1
sentencepiece==0.2.0